.user-list {
    width: 90%;
    max-width: 100%;
    overflow-x: auto;
    margin: auto;
}

.user-list {
    margin-bottom: 20px;
    margin-top: 20px;
}

.user-list table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 6px;
}

.user-list th,
.user-list td {
    padding: 8px;
    border: 1px solid #a2580b;
    text-align: center;
}

.user-list th {
    background-color: #f2f2f2;
    color: #000;
}

.user-list button {
    padding: 8px 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    margin: 0px 5px;
}

.user-list button:hover {
    background-color: #0056b3;
}
.add-user-button {
    width: 100%;
    display: flex;
    text-decoration: none;
    justify-content: flex-end;
    padding: 12px 0px;
}
.add-user-button {
    text-decoration: none;
}


